<head>
<%= favicon_link_tag 'favicon.ico' %>
<style type="text/css">
h1{color: #222; font-size: 50px; font-weight: bold; letter-spacing: +5px; text-align:center;}
</style>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class = "nav">
            <a class="brand" href="/"><strong>Tay Group</strong></a>
          <li class="divider-vertical"></li>
          <li><a href="/research"><strong>Reserach</strong></a></li>
          <li><a href="/news"><strong>News</strong></a></li>
          <li><a href="/publications"><strong>Publications</strong></a></li>
          <li><a href="/people"><strong>People</strong></a></li>
          <li><a href="/opportunities"><strong>Opportunities</strong></a></li>
          <li class="active"><a href="/contact"><strong>Contact</strong></a></li>
        </ul>
      </div>
    </div>
  </div>
</body>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="row-fluid">
  <div class="well-small" style="text-align: center; background-color: lightgrey">
    <h1>Contact</h1>
  </div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; border-color: blue; background-color: lightgrey">
  <div class = "well-large">
      <h3 class="lead" style="letter-spacing: +3px">Address</h3>
      <address style="color: #222">
        <strong>Tay Group</strong><br>
        4th Floor<br>
        Mattenstrasse 26<br>
        4058 Basel, Switzerland<br><br>
        <p>Lab Phone: +41 61 387 33 51/52/53</p>
        <p>Secretary Phone: +41 61 387 31 99</p>
        <p>Savas Tay Phone: +41 61 387 31 57</p>
      </address>
    </div>
  </div>

  <div class = "row-fluid" style="background-color: lightgrey">
    <iframe class = "span10 offset1" width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Mattenstrasse+26,+Basel,+Switzerland&amp;aq=0&amp;oq=mattenstrasse+26&amp;sll=47.554615,7.59446&amp;sspn=0.199034,0.527344&amp;ie=UTF8&amp;hq=&amp;hnear=Mattenstrasse+26,+4058+Basel,+Basel-Stadt,+Switzerland&amp;t=h&amp;ll=47.566089,7.602303&amp;spn=0.002457,0.003433&amp;z=18&amp;iwloc=A&amp;output=embed"></iframe><br />
  </div>

  <div class = "row-fluid" style="background-color: lightgrey">
    <div class="span12"></div>
  </div>

</div>