<!DOCTYPE html>
<!-- Made by Alicia J. Kaestli, last updated on 2013/6/24 !-->
<html>
<head>
<style type="text/css">
  h1{color: #CCC; font-size: 50px; font-weight: bold; letter-spacing: +5px}
  body{font-size: 13px; line-height: 18px; letter-spacing: +2px}
</style>
<link href="app/assets/styleshets/application.scss" rel="stylesheet" type="text/css">
<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
</head>

<body>
	<div class="wrapper">
		<div class="navbar navbar-fixed-top">
		    <div class="navbar-inner">
		      <div class="container">
		        <ul class = "nav">
		            <a class="brand" href="/"><strong>Tay Group</strong></a>
		          <li class="divider-vertical"></li>
		          <li><a href="/research"><strong>Reserach</strong></a></li>
		          <li><a href="/news"><strong>News</strong></a></li>
		          <li><a href="/publications"><strong>Publications</strong></a></li>
		          <li><a href="/people"><strong>People</strong></a></li>
		          <li><a href="/opportunities"><strong>Opportunities</strong></a></li>
		          <li><a href="/contact"><strong>Contact</strong></a></li>
		        </ul>
		      </div>
		    </div>
		</div>

		<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
		    <div class="span12"></div>
		</div>

		<div class="container">
			<div class="span12"></div>

			<div class="row-fluid">
				<div class="span12">
					<div class="wrapper" style="text-align: center; background: #031634">
						<h1 style="color: #E8DDCB; font-size: 50px; font-weight: bold; letter-spacing: +5px; line-height: 1.5; text-align:center; ">Tay Group</h1>
						<h3 style="color:#E8DDCB; text-align:center; letter-spacing: +2px">Systems Biology and Bioengineering</h>
					</div>
				</div>
			</div>
		</div>

		<div id="myCarousel" class="carousel slide container" style="width: 960; margin: 0 auto">
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item">
		    	<%= image_tag '/tino_chip_1_small.jpg', :alt => 'cover_1', :style => "height:400px; width: 960px"%>
		    </div>

		    <div class="item">
		    	<%= image_tag '/cover_1.jpg', :alt => 'cover_1', :style => "height:400px; width: 960px"%>
		    </div>
		    <div class="item">
		    	<%= image_tag '/people/Alicia_Kaestli.jpg', :alt => 'cover_1', :style => "height:400px; width: 960px"%>
		    </div>
		  </div>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		  </div>
		</div>
		<script>
		  $(document).ready(function(){
		    $('.carousel').carousel({
		      interval: 2000
		    });
		  });
		</script>

		<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
		    <div class="span12"></div>
		</div>
		<div class="push"></div>
	</div>

	<div class="footer" style="text-align: center">
		<p>The Tay Group 2013</p>
	</div>


</body>
</html>