<head>
<style type="text/css">
thead {color:#222; font-size: 30px}
tbody {color: #222;}

h1{color: #222; font-size: 50px; font-weight: bold; letter-spacing: +5px; text-align:center;}

th{border-top: 0px; border-bottom: 5px solid #161C40; background-image:url('billie_holiday.png'); letter-spacing: +3px}
td{background-color: lightgrey; letter-spacing: +1px}

tr{border-bottom: 2px solid #222; background-image:url('billie_holiday.png')}

td:hover {background-color: #E8DDCB;}
a {color:#161C40; font-weight: bold}
td:hover a{color:#161C40;}
</style>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class = "nav">
            <a class="brand" href="/"><strong>Tay Group</strong></a>
          <li class="divider-vertical"></li>
          <li><a href="/research"><strong>Reserach</strong></a></li>
          <li class="active"><a href="/news"><strong>News</strong></a></li>
          <li><a href="/publications"><strong>Publications</strong></a></li>
          <li><a href="/people"><strong>People</strong></a></li>
          <li><a href="/opportunities"><strong>Opportunities</strong></a></li>
          <li><a href="/contact"><strong>Contact</strong></a></li>
        </ul>
      </div>
    </div>
  </div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="row-fluid">
  <div class="well-small" style="text-align: center; background-color: lightgrey">
    <h1>News</h1>
  </div>
</div>

<div class="container-fluid" style="border: 0px; border-color: blue; background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class ="row-fluid">
<table class = "table">
  <thead>
  <tr>
    <th><br>2012<br><br></th>
  </tr>
</thead>
<tbody>
  <tr>
      <td><br>Tino's Paper [PDF] was accepted to Lab on a Chip<br><br></td>
  </tr>
    <tr>
      <td><br>Tino's Paper [PDF] was accepted to Lab on a Chip<br><br></td>
  </tr>
  <tr>
      <td><br>Tino's Paper [PDF] was accepted to Lab on a Chip<br><br></td>
  </tr>
  <tr>
      <td><br>Tino's Paper [PDF] was accepted to Lab on a Chip<br><br></td>
  </tr>
</tbody>
</table>
</div>
</div>

</body>