<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
thead {color:#222; font-size: 30px}
tbody {color: #222;}

h1{color: #222; font-size: 50px; font-weight: bold; letter-spacing: +5px; text-align:center;}
h4{color: #222; font-size: 15px; font-weight: bold; letter-spacing: +5px; text-align:center;}


th{border-top: 0px; border-bottom: 5px solid #161C40; background-image:url('billie_holiday.png'); letter-spacing: +3px}
td{background-color: lightgrey; letter-spacing: +1px}

tr{border-bottom: 2px solid #222; background-image:url('billie_holiday.png')}

td:hover {background-color: #E8DDCB;}
a {color:#161C40; font-weight: bold}
td:hover a{color:#161C40;}
.dropdown-backdrop {position: static;}
a.dropdown-toggle { outline: none}
.dropdown-menu > li > a:hover {
    color:#E8DDCB;
    background:#031634;}
#footer{
    position:absolute;
    left:0;
    right:0;
    height:300px;
    background:#eeeeee; border-top: 1px solid lightgrey; padding-top: 80px; padding-bottom: 100px}
body{padding-top: 70px}
</style>
</head>

<body>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
        <a class="brand" href="/"><strong>Tay Group</strong></a>
        <div class="nav-collapse">
              <ul class="nav">
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="/research" class="dropdown-toggle" style="background-color: #fafafa;background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);*zoom: 1;" data-toggle="dropdown"><strong>Research</strong><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/research"><strong>Reserach Overview</strong></a></li>
                      <li><a href="/technology"><strong>Technologies and Capabilities</strong></a></li>
                      <li><a href="/model"><strong>NF-&#954B Single-Cell Data and Model</strong></a></li>
                    </ul>
                </li>
                <li><a href="/news"><strong>News</strong></a></li>
                <li><a href="/publications"><strong>Publications</strong></a></li>
                <li><a href="/people"><strong>People</strong></a></li>
                <li class="active"><a href="/opportunities"><strong>Opportunities</strong></a></li>
                <li><a href="/contact"><strong>Contact</strong></a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>

<div class = "row-fluid hidden-phone" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="row-fluid">
  <div class="well-small" style="text-align: center; background-color: #021537">
    <h1 class="hidden-phone" style="color:#E8DDCB">Opportunities</h1>
  </div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: lightgrey">
    <div class = "well-large">
      <h3 class="lead">Post Doctoral Postition 1: Cell Signaling and Single-Cell Analysis</h3>
      <p>We are looking for postdocs who fit the following profiles:</p>
      <ol>
        <li><em>A biologist/computational biologist who has experience with cell signaling and the systems biological approach.</em> This person will have the privilege of using a state-of-the-art high-throughput microfluidic cell culture system and gene expression systems (<%= link_to 'Fluidigm', 'http://www.fluidigm.com/home.html' -%>) at Tay Lab to investigate NF-kappaB dynamics in single cells. These systems was recently used in this paper: "Single-cell NF-kappaB dynamics reveal digital activation and analogue information processing", Tay et al. Nature 466, 267-271 <a href = "/publications/2010_Nature_Tay.pdf"> [PDF]</a>.</li>
        <br>
        <li><em>An engineer or physicist who has experience with microfluidics</em> and its biological applications. The focus of this position will be developing microfluidic/optofluidic systems for single-cell analysis in systems biology and biomedical applications.</li>
      </ol>
      <p><em>In all cases, a strong publication record is expected.</em></p>
      <p>ETH Zurich provides excellent benefits and the salary is 82,000 CHF a year.<br><br>Highly motivated candidates should send research interests, full CV including details of experimental and computational skills, publications, and contact information for 3 references  to: savas.tay AT gmail.com</p>
      <br>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: lightgrey">
    <div class = "well-large">
      <h3 class="lead">Post Doctoral Postition 2: Systems Analysis of Mammalian Forebrain Development</h3>
      <p>Tay Group at the Department of Biosystems Science and Engineering of the Swiss Institute of Technology, <em>ETH Zurich</em>, invites applications from prospective postdoctoral fellows. The successful candidate will work in a collaborative initiative between the two institutions (ETH Zurich and University of Basel) to <em>study the development of the mammalian brain at the molecular and cellular systems level using single-cell dynamical analysis</em>. The consortium is looking for highly motivated and experienced candidates ranging from cell and molecular biologists to those with experienced in cell and tissue engineering and computational modeling. The project is based in Basel Switzerland and the successful candidate is expected to help build a strong dynamic and interdisciplinary team between basic research, engineers and computational biologists. More information on the project and teams involved can be found in <%= link_to 'www.brainstemx.org', 'www.brainstemx.org' -%>.</p>
      <br>
      <p>We are looking for a postdoc with background in experimental biology or bioengineering, who is interested in using the worlds most advanced microfluidic systems for cell culture, live cell dynamic imaging and gene expression analysis to investigate the spatiotemporal signaling events during mammalian forebrain development. Relevant skills include basic programming (preferably in Matlab). Excellence in research evidenced by a <em>strong track record of publications</em> is expected.</p>
      <br>
      <p>ETH Zurich is a highly ranked institute in Europe, and offers a highly competitive salary and benefits for postdoctoral fellows. Applications should be addressed to Prof. Savas Tay (savas.tay AT gmail.com).</p>
      <br>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: lightgrey">
    <div class = "well-large">
      <h3 class="lead">Post Doctoral Fellowships Opportunities</h3>
      <p>Postdoctoral researchers who wish to join our lab are also encouraged to apply to the ETH or SystemsX postdoctoral fellowships. <br>ETH and SystemsX fellowships are quite prestigious and carry a good salary. The decisions are made within 3 months latest. Postdocs interested in pursuing this direction should contact Savas Tay <u> a month before the deadlines below </u>:<br><br> ETH postdoctoral fellowship can be in any field, and the deadlines are March 1, Sept 1 of every year. More information can be found<a href ="http://www.vpf.ethz.ch/services/ETH_Fellows/"> here</a>.<br><br>Systems X postdoc positions are typically for computational biologists who are willing to pursue research in systems biology, be it experimental or computational. Deadlines are announced in current calls for proposals, and are typically in January. More info can be found <a href="http://www.systemsx.ch/projects/systemsxch-projects/">here</a>.</p>
      <br>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: #lightgrey">
    <div class = "well-large">
    <h3 class="lead">PhD Postitions</h3>
    <div class = "row-fluid" style="background-color: #lightgrey">
      <p class="span12">Applications are invited for an opening at the Systems Biology and Bioengineering Group with Professor Savas Tay. The following paper is an example of our current research: "Single-cell NF-kappaB dynamics reveal digital activation and analogue information processing", Tay et al. Nature 466, 267-271 <a href = "http://www.nature.com/nature/journal/v466/n7303/pdf/nature09145.pdf"> [PDF]</a>. Also see the following reviews on this research:<br>
     <%= link_to 'In signaling, not all cells are equal', 'http://www.biotechniques.com/news/In-signaling-not-all-cells-are-equal/biotechniques-300195.html' -%><br><%= link_to 'Biotechniques.com: in signaling, not all cells are equal ', 'http://www.biotechniques.com'-%>
      
      <br><br>ETH Zurich is the top ranked research university in continental Europe, offering an excellent environment for innovative and collaborative research across disciplines. Our department is strategically located in Basel, a major European hub of biomedical research. We are in an excellent position to collaborate with various departmental groups on synthetic biology, epigenetics, developmental biology, computational biology and bioengineering. Furthermore, main ETH campus, nearby Friedrich Mischer Institute, Biozentrum at the University of Basel, and pharmaceutical industry will provide ample collaborations on immunology, cancer research, drug development and instrumentation. Our alumni can expect to acquire a wide range of skills, to publish high-impact papers in systems biology and engineering, and be in an excellent position to transition into academic or industrial careers.
      We are looking for a student who has experience in one of the following areas: cell signaling-systems biology, microfluidics, bio-instrumentation or computational modeling of signaling pathways. Relevant skills are mammalian cell culture techniques, multilayer soft lithography, cleanroom microfabication techniques, computerized control of instruments and electronics. Experience with Matlab programming is desired. ETH Zurich requires that you hold a Masters degree to join the PhD program. Applications are done directly to the professor. Language of education and research is English.
      <br><br>Highly motivated and dedicated students should send an application package with research interests, full CV with experimental and computational skills listed in detail, names and contact information of 3 references in a single PDF file to Savas Tay (savas.tay AT bsse.ethz.ch).</p>
    </div>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: #lightgrey">
    <div class = "well-large">
    <h3 class="lead">Masters Student Positions</h3>

    <div class = "row-fluid" style="background-color: #lightgrey">
      <p class="span12">We are interested in working with highly motivated and energetic MS students from a variety of backgrounds, including Biotechnology, Engineering, Physics, Biology, and Computer Science. Projects on microfluidics, single-cell analysis, cell signaling and biosensors are available. Highly motivated, dedicated and energetic students interested in doing their thesis work at Tay Group should send their CV to Savas Tay (savas.tay AT bsse.ethz.ch). <break> Note: MS students are self-funded at ETH Zurich (unfortunately our group can not provide financial assistance for MS students). Exceptional candidates are encouraged to apply to the Masters Excellence scholarship which covers tuition and monthly stipend up to CHF 1750. More information can be found at the <a href = "http://www.rektorat.ethz.ch/students/finance/scholarship/excellence/index_EN"> ETH Scholarship Office.</a></p>
    </div>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div id = "footer" class="hidden-sm">
  <div class = "container hidden-sm">
    <div class = "row-fluid hidden-sm">
      <a class="span2 hidden-sm" href="http://www.bsse.ethz.ch/"><img src="/home/D-BSSE_logo.jpg"></a>
        <p class="span3 offset3 hidden-sm"><br><br><br>The Tay Group 2014</p>
        <a class="span2 offset2 hidden-sm" href="http://www.ethz.ch/index_EN"><br><br><br><img src="/home/eth_logo.jpg"></a>
    </div>
  </div>
</div>

<div class="footer visible-sm" style="text-align: center">
    <p>The Tay Group 2014</p>
</div>


<!-- Javascript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script>
  $(".collapse").collapse()
</script>

<script>
  $('.navbar .dropdown').hover(function() {
    $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
  }, function() {
    $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
  });
</script>


</body>