<head>
<link href="/assets/stylesheets/application.scss" rel="stylesheet" type="text/css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
h1{color: #222; font-size: 50px; font-weight: bold; letter-spacing: +5px; text-align:center}
p{color: #222}
h3{color: #222; font-weight: bold}
h5{color: #222;}
h4{color: #222; font-size: 15px; font-weight: bold; letter-spacing: +5px; text-align:center;}
img {height: auto; max-width:150px; margin-top:0px; margin-bottom: 20px; overvflow: none}
a {color:#161C40; font-weight: bold}
td a{color:#161C40; font-weight: bold}}
a:hover{color:#036564;}
.dropdown-backdrop {position: static;}
a.dropdown-toggle { outline: none}
.dropdown-menu > li > a:hover {
    color:#E8DDCB;
    background:#031634;}
#footer{
    position:absolute;
    left:0;
    right:0;
    height:300px;
    background:#eeeeee; border-top: 1px solid lightgrey; padding-top: 80px; padding-bottom: 100px}
    body{padding-top: 70px}
</style>
</head>

<body>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
        <a class="brand" href="/"><strong>Tay Group</strong></a>
        <div class="nav-collapse">
              <ul class="nav">
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="/research" class="dropdown-toggle" style="background-color: #fafafa;background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);*zoom: 1;" data-toggle="dropdown"><strong>Research</strong><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/research"><strong>Reserach Overview</strong></a></li>
                      <li><a href="/technology"><strong>Technologies and Capabilities</strong></a></li>
                      <li><a href="/model"><strong>NF-&#954B Single-Cell Data and Model</strong></a></li>
                    </ul>
                </li>
                <li><a href="/news"><strong>News</strong></a></li>
                <li><a href="/publications"><strong>Publications</strong></a></li>
                <li class="active"><a href="/people"><strong>People</strong></a></li>
                <li><a href="/opportunities"><strong>Opportunities</strong></a></li>
                <li><a href="/contact"><strong>Contact</strong></a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>

<div class = "row-fluid hidden-phone" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="row-fluid">
  <div class="well-small" style="text-align: center; background-color: #021537">
    <h1 class="hidden-phone" style="color:#E8DDCB">People</h1>
  </div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; border-color: blue; background-color: lightgrey"></div>
<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span3">
			<%= image_tag '/people/savas_tay.jpg', :alt => 'Savas_Tay', :class => "img-polaroid", :style => "height:auto; width: auto"%> 
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Professor Savas Tay</h3>
			<h3 class="lead" style="font-weight: bold">Assistant Professor of Bioengineering</h3>
			<p>savas.tay AT bsse.ethz.ch</p>

			<p>Dr. Tay is tenure-track Assistant Professor of Bioengineering at the Department of Biosystems Science and Engineering at <a href ="http://www.ethz.ch/index_EN">Swiss Federal Institute of Technology</a>, ETH Zurich, since 2011. His personal goal in research is to understand "how life works" from an engineering perspective. Dr. Tay adopts a systems approach to biological research that integrates high-throughput quantitative measurements and mathematical modeling, and develops technologies based on microfluidics and optics to aid this effort. He is also interested in translating such technologies to real-life biomedical applications.
			<br><br>He received PhD from the <a href ="http://www.optics.arizona.edu/">College of Optical Sciences at the University of Arizona</a>, USA in 2007. After a short postdoc there, Dr. Tay moved to Stephen Quake's group at <a href ="http://bioengineering.stanford.edu/">Stanford University Bioengineering Department</a> and Howard Hughes Medical Institute. At Stanford, he worked on systems biology of mammalian cell signaling, using high-throughout microfluidic single-cell imaging and quantitative gene expression techniques. He discovered digital cell activation and analogue information processing in the signaling pathway NF-kappaB under inflammatory signals, and developed a broadly-applicable stochastic computer model of this pathway. In Arizona, Dr. Tay worked on nonlinear optics, photonics and holographic displays at the group of Nasser Peyghambarian. His achievements in optics include the development of the first updateable holographic 3D display, new infrared sensitive dynamic holographic materials for optical communications, tunable photonic crystal devices and plasmonic thermal IR emitters for biosensing. Previously, he graduated from <a href ="http://www2.marmara.edu.tr/">Marmara University</a>, Istanbul, Turkey with a degree in Physics and Education.
			<br><br>Dr. Tay has been the recipient of the highly competitive and prestigious European Research Commission ERC Starting Grant in 2013. Before joining ETH Zurich, Professor Tay has published 6 review and 14 peer-reviewed papers, filed 3 patents, and gave 30 conferences and 25 invited seminars. His works on digital cell signaling and holographic 3D displays (both published in the journal Nature) and collective migration of cells (published in PNAS) have attracted significant media coverage. He serves as a referee for scientific journals Nature, Lab on Chip, Plos One, Optics Express, Biotechnology and Bioengineering, Journal of Biomedical Optics, Photonics Technology Letters, Polymer and Colloid Science, Optics Communications, Applied Optics and many funding agencies.</p>
		</div>
	</div>
	<div class = "row-fluid" style="background-color: lightgrey">
		<div class="span12"></div>
	</div>	
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span3">
			<img src="/people/Brigitta_Elhadj.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Brigitta Elhadj-Keller - Administrative Assistant</h3>
			<p>brigitta.ekhadj AT bsse.ethz.ch</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span3">
			<img src="/people/Michael_Junkin.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Michael Junkin, PhD - Postdoc</h3>
			<p>michael.junkin AT bsse.ethz.ch</p>
			<p>PhD, Aerospace and Mechanical Engineering, Biomedical Engineering, University of Arizona, 2011</p>
			<p>MS, Mechanical Engineering, University of Arizona, 2008</p>
			<p>BS, Mechanical Engineering, Virginia Tech, 2002 (summa cum laude)</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span3">
			<img src="/people/cem_2.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold; height: auto">Cem Albayrak, PhD - Postdoc</h3>
			<p>cem.albayrak AT bsse.ethz.ch</p>
			<p>PhD, Chemical Engineering, Stanford University</p>
			<p>BS, Biology and Chemical Engineering, Massachusettes Institute of Technology, 2005</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span3">
			<img src="/people/Matthias_Mehling.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Matthias Mehling, MD - Postdoc</h3>
			<p>matthias.mehling AT bsse.ethz.ch</p>
			<p>MD, Neuroimmunology, University Hospital Tubingen, 2003 (magna cum laude)</p>
			<p>Medical Education, Hannover Medical School and Eberhard Karls University Tubingen, 2004</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span3">
			<img src="/people/ryan.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Ryan Kellogg, MS - PhD Student</h3>
			<p>ryan.kellogg AT bsse.ethz.ch</p>
			<p>MS, Bioengineering, Carnegie Mellon University, 2011</p>
			<p>BS, Electrical Engineering, Carnegie Mellon University, 2008</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span3">
			<img src="/people/Tino_Frank.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Tino Frank, MS - PhD Student</h3>
			<p>tifrank AT bsse.ethz.ch</p>
			<p>MS, Biotechnology, Swiss Federal Institute of Technology (ETH), 2012</p>
			<p>BS, Biotechnology, Swiss Federal Institute of Technology (ETH), 2011</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span3">
			<img src="/people/ozlem.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Özlem Yavaş, MS - PhD Student</h3>
			<p>oezlem.yavas AT bsse.ethz.ch</p>
			<p>MS, Bilkent University, 2012</p>
			<p>BS, Middle East Technical University, 2010</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span3">
			<img src="/people/Alicia_Kaestli.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Alicia Kaestli - MS Student</h3>
			<p>kaestlal AT student.ethz.ch</p>
			<p>BS, Biological Engineering, Massachusettes Institute of Technology, 2012</p>
			<br>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span3">
			<img src="/people/jordich.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Christian Jordi - MS Student</h3>
			<p>jordich AT student.ethz.ch</p>
			<p>BS, Biotechnology, Swiss Federal Institute of Technology (ETH), 2012</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<h3 class="lead span12" style="font-weight: bold">Alumni</h3>

		<table class = "table">
			<thead>
				<tr>
					<th><br><strong>Name</strong><br></th>
					<th><br><strong>Dates in Tay Lab</strong><br></th>
					<th><br><strong>Postition in Tay Lab</strong><br></th>
					<th><br><strong>Current Position</strong><br></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Zihe Zhang (Kurt)</td>
					<td>November 2012 - August 2013</td>
					<td>MS Student</td>
					<td>Beginning a career in China</td>
				</tr>
				<tr>
					<td>Onur Tidin</td>
					<td>March 2013 - August 2013</td>
					<td>MS Student</td>
					<td>PhD at EPFL</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

  <div id = "footer" class="hidden-sm">
    <div class = "container">
      <div class = "row-fluid">
        <a class="span2" href="http://www.bsse.ethz.ch/"><img src="/home/D-BSSE_logo.jpg"></a>
          <p class="span3 offset3"><br><br><br>The Tay Group 2013</p>
          <a class="span2 offset2" href="http://www.ethz.ch/index_EN"><br><br><br><img src="/home/eth_logo.jpg"></a>
      </div>
    </div>
  </div>

  <div class="footer visible-sm" style="text-align: center">
      <p>The Tay Group 2013</p>
  </div>
</div>


<!-- Javascript -->
<script type="text/javascript" src="jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script>
  $(".collapse").collapse()
</script>

<script>
	$('.navbar .dropdown').hover(function() {
	  $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
	}, function() {
	  $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
	});
</script>


</body>