<head>
<%= favicon_link_tag 'favicon.ico' %>
<style type="text/css">
h1{color: #222; font-size: 50px; font-weight: bold; letter-spacing: +5px; text-align:center}
p{color: #222}
h3{color: #222; letter-spacing: +3px; font-weight: bold}
h5{color: #222;}
img {height: auto; width: 100%; margin-top:0px; margin-bottom: 20px; overvflow: none}
a {color:#036564;}
a:hover{color:#036564;}
</style>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class = "nav">
            <a class="brand" href="/"><strong>Tay Group</strong></a>
          <li class="divider-vertical"></li>
          <li><a href="/research"><strong>Reserach</strong></a></li>
          <li><a href="/news"><strong>News</strong></a></li>
          <li><a href="/publications"><strong>Publications</strong></a></li>
          <li class="active"><a href="/people"><strong>People</strong></a></li>
          <li><a href="/opportunities"><strong>Opportunities</strong></a></li>
          <li><a href="/contact"><strong>Contact</strong></a></li>
        </ul>
      </div>
    </div>
  </div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="row-fluid">
  <div class="well-small" style="text-align: center; background-color: lightgrey">
    <h1>People</h1>
  </div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; border-color: blue; background-color: lightgrey"></div>
<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span3">
			<%= image_tag '/people/Savas_Tay.jpeg', :alt => 'Savas_Tay', :class => "img-polaroid" %> 
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Professor Savas Tay</h3>
			<h3 class="lead" style="font-weight: bold">Assistant Professor of Bioengineering</h3>
			<p>savas.tay AT bsse.ethz.ch</p>

			<p>Dr. Tay is a newly appointed tenure-track assistant professor at the Department of Biosystems Science and Engineering at <a href ="http://www.ethz.ch/index_EN">Swiss Federal Institute of Technology</a>, ETH Zurich. His goal is to understand "how life works" from an engineers perspective. He uses a systems approach to biological research that integrates high-throughput quantitative measurements and mathematical modeling, and develops technologies based on microfluidics and optics to aid this effort. He is also interested in translating such technologies to real-life biomedical applications.
			<br><br>He received his PhD from the <a href ="http://www.optics.arizona.edu/">College of Optical Sciences at the University of Arizona</a>, USA in 2007. After a short postdoc there, Dr. Tay moved to Stephen Quake's group at <a href ="http://bioengineering.stanford.edu/">Stanford University Bioengineering Department</a>, and Howard Hughes Medical Institute. At Stanford, he worked on systems biology of mammalian cell signaling, using high-throughout microfluidic single-cell imaging and quantitative gene expression techniques. He discovered digital cell activation and analogue information processing in the signaling pathway NF-kappaB under inflammatory signals, and developed a broadly-applicable stochastic computer model of this pathway. 
			In Arizona, he worked on nonlinear optics, photonics and holographic displays with Nasser Peyghambarian. His achievements in optics include the development of the first updateable holographic 3D display, new infrared sensitive dynamic holographic materials for optical communications, tunable photonic crystal devices and plasmonic thermal IR emitters for biosensing. Previously, he graduated from <a href ="http://www2.marmara.edu.tr/">Marmara University</a>, Istanbul, Turkey with a degree in Physics and Education. 
			<br><br>Before joining ETH Zurich, Professor Tay has published 6 review and 13 peer-reviewed papers, filed 3 patents, and gave 30 conferences and 25 invited seminars. His works on digital cell signaling and holographic 3D displays (both published in the journal Nature) have attracted significant media coverage. He served as a referee for Nature, Optics Express, Biotechnology and Bioengineering, Journal of Biomedical Optics, Photonics Technology Letters, Polymer and Colloid Science, Optics Communications, Applied Optics and Netherlands Foundation for Fundamental Research.</p>
		</div>
	</div>
	<div class = "row-fluid" style="background-color: lightgrey">
		<div class="span12"></div>
	</div>	
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span2">
			<img src="/people/Brigitta_Elhadj.jpeg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Brigitta Elhadj-Keller - Administrative Assistant</h3>
			<p>brigitta.ekhadj AT bsse.ethz.ch</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span2">
			<img src="/people/michael_junkin.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Michael Junkin, PhD - Postdoc</h3>
			<p>michael.junkin AT bsse.ethz.ch</p>
			<p>PhD, Aerospace and Mechanical Engineering, Biomedical Engineering, University of Arizona, 2011</p>
			<p>MS, Mechanical Engineering, University of Arizona, 2008</p>
			<p>BS, Mechanical Engineering, Virginia Tech, 2002 (summa cum laude)</p>

		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span2">
			<img src="/people/Michael_Junkin" class = "img-polaroid" style="height:100%">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Cem Albayrak, PhD - Postdoc</h3>
			<p>cem.albayrak AT bsse.ethz.ch</p>
			<p>PhD, Chemical Engineering, Stanford University</p>
			<p>Biology and Chemical Engineering, Massachusettes Institute of Technology, 2005</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span2">
			<img src="http://imgur.com/XMuKF.jpg" class = "img-polaroid">
			<%= image_tag("/images/big_chip_closeup.png")%>
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Matthias Mehling, MD - Postdoc</h3>
			<p>matthias.mehling AT bsse.ethz.ch</p>
			<p>MD, Neuroimmunology, University Hospital Tubingen, 2003 (magna cum laude)</p>
			<p>Medical Education, Hannover Medical School and Eberhard Karls University Tubingen, 2004</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span2">
			<img src="/people/Tino_cupcake.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Ryan Kellogg, MS - PhD Student</h3>
			<p>ryan.kellogg AT bsse.ethz.ch</p>
			<p>MS, Bioengineering, Carnegie Mellon University, 2011</p>
			<p>BS, Electrical Engineering, Carnegie Mellon University, 2008</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span2">
			<img src="/people/Tino_Frank.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Tino Frank, MS - PhD Student</h3>
			<p>tifrank AT bsse.ethz.ch</p>
			<p>MS, Biotechnology, Swiss Federal Institute of Technology (ETH), 2012</p>
			<p>BS, Biotechnology, Swiss Federal Institute of Technology (ETH), 2011</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span2">
			<img src="/people/Tino_cupcake.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Özlem Yavaş, MS - PhD Student</h3>
			<p>oezlem.yavas AT bsse.ethz.ch</p>
			<p>MS, Bilkent University, 2012</p>
			<p>BS, Middle East Technical University, 2010</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span2">
			<img src="/people/Alicia_Kaestli.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Alicia Kaestli - MS Student</h3>
			<p>kaestlal AT student.ethz.ch</p>
			<p>BS, Biological Engineering, Massachusettes Institute of Technology, 2012</p>
			<br>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span2">
			<img src="/people/Tino_cupcake.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Zihe Zhang - MS Student</h3>
			<p>zhangz AT student.ethz.ch</p>
			<p>BS Laboratory Medicine, Peking University, 2010</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span2">
			<img src="/people/Tino_cupcake.jpg" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Ohnur Tidin - MS Student</h3>
			<p>onur.tidin AT bsse.ethz.ch</p>
			<p>BS Electrical Engineering, Bilkent University, 2011</p>
		</div>
	</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class = "row-fluid" style="background-color: lightgrey">
	<div class ="well-large">
		<div class="span2">
			<img src="/people/jordich.png" class = "img-polaroid">
		</div>

		<div class="span9">
			<h3 class="lead" style="font-weight: bold">Christian Jordi - MS Student</h3>
			<p>jordich AT student.ethz.ch</p>
			<p>BS, Biotechnology, Swiss Federal Institute of Technology (ETH), 2012</p>
		</div>
	</div>
</div>