<head>
<link rel="shortcut icon" href="/favicon.jpg"/>
<style type="text/css">
h1{color: #222; font-size: 50px; font-weight: bold; letter-spacing: +5px; text-align:center;}
p{color: #222}
h2{color: black; text-align: center;}
h3{color: #222; letter-spacing: +3px}
h5{color: #222;}
span{color:#031634; font-weight: bold}
table.center {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }
</style>
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class = "nav">
            <a class="brand" href="/"><strong>Tay Group</strong></a>
          <li class="divider-vertical"></li>
          <li class="active"><a href="/research"><strong>Reserach</strong></a></li>
          <li><a href="/news"><strong>News</strong></a></li>
          <li><a href="/publications"><strong>Publications</strong></a></li>
          <li><a href="/people"><strong>People</strong></a></li>
          <li><a href="/opportunities"><strong>Opportunities</strong></a></li>
          <li><a href="/contact"><strong>Contact</strong></a></li>
        </ul>
      </div>
    </div>
  </div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="row-fluid">
  <div class="well-small" style="text-align: center; background-color: lightgrey">
    <h1>Research</h1>
  </div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="row-fluid">
  <div class="well-small" style="text-align: center; background-color: lightgrey">
    <h2 style="color:black"><small style="color:black">Our research lies at the interface of <span>Biology</span>, <span>Engineering</span> and <span>Physics</span>. We want to understand how biological processes work from an engineers perspective, and to develop quantitative, high-throughput technologies to enable this quest. We pursue research in Microfluidics, Optofluidics and Systems Biology.</small></h2>
  </div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: lightgrey">
      <h3 class="lead">Systems Immunology and Cell Signaling</h3>
      <div class = "row-fluid" style="background-color: lightgrey">
        <p class="span12" style="color:black">We are interested in cell-cell communication during immune response to infection. NF-kappaB is a central innate immune pathway that responds to hundreds of signals including cytokines and pathogens, and controls the expression of thousands of genes. We previously investigated NF-kappaB dynamics at the single-cell level using high-throughput microfluidic microscopy and quantitative gene expression (Tay et al. Nature 466, 267) (pdf). Contrary to what bulk assays show, we discovered that single-cell responses are highly heterogeneous, both in cell activation probability and dynamics of the NF-kappaB transcription factor, as well as downstream gene expression dynamics. The input signal intensity  (i.e. cytokine concentration) determines the probability of activation, response time and the duration of NF-kappaB oscillations, but not the intensity of the response (i.e. nuclear translocation amplitude), therefore termed digital activation. We also showed that digital signaling propagates to downstream target genes, with early genes activating digitally and late genes activating in analog, concentration dependent fashion.<br><br>To understand the underlying mechanisms and to predict complex signaling scenarios, we developed a stochastic computer model of the NF-kappaB pathway based on our comprehensive single-cell data. This is the most broadly applicable and accurate model of the NF-kappaB pathway to date, reproducing great majority of the observed characteristics under all input signal levels. We are using this model as a test-bed for future experiments and discoveries.<br><br>Future directions in our lab include the investigation of the mechanisms behind stochastic and digital activation, and the emergent properties of this complex signaling scheme in pathogen-host interactions and tissue inflammation. For this effort, we combined probably the most powerful arsenal of single-cell analytical tools in the world, namely high-throughput automated microfluidic cell culture, automated live cell imaging and tracking, high-throughput single-cell gene expression (qPCR) and digital-PCR, and single-cell digital protein counting. This pipeline, applied to cells expressing fluorescent fusion proteins and reporters, can generate terabytes of dynamic single-cell data every week, with unprecedented degree of control, accuracy and reproducibility. Using these awesome tools, we are investigating the spatio-temporal emergent properties of digital cell activation. New technologies based on microfluidics and optogenetics will also be developed to simulate these scenarios. Our previous single-cell model will be expanded and used to guide further experimental studies.</p>
      </div>

      <div class = "row-fluid" style="background-color: lightgrey">
      <div class="span12"></div>
      </div>
     
    <div class = "row-fluid" style="background-color: lightgrey">
      <div class="span3">
        <img src="lab_photos/01_Confocal.jpg" class = "img-polaroid">
      </div>

      <div class="span3">
        <h3 class="lead" style="font-weight: bold">Confocal Microscope</h3>
        <p>The confocal microcope is for awesome use.</p>
      </div>

      <div class="span3">
        <img src="lab_photos/03_Robot.jpg" class = "img-polaroid">
      </div>

      <div class="span3">
        <h3 class="lead" style="font-weight: bold">Robot</h3>
        <p>The robot is a machine from the Single Cell Facility.</p>
      </div>
    <div class = "row-fluid" style="background-color: lightgrey">
      <div class="span12"></div>
    </div>
    
    </div>
    </div>
  </div>

  <div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
  </div>

    <div class = "row-fluid" style="background-color: lightgrey">
    <div class = "well-large">
      <h3 class="lead">Microfluidic Large-Scale Integration and Single-Cell Analysis</h3>

      <div class = "row-fluid" style="background-color: lightgrey">
        <p class="span12">Valve-based microfluidics is a robust technology that allows parallelizing and automating everyday laboratory procedures such as mixing, separating, sorting and sampling, in a compact and low cost platform. We use powerful microfluidic cell culture systems for highly multiplexed stimulation and high-throughput time lapse imaging of live cells, creation of spatio-temporal gradients and ligand mixtures. We also use high-throughput microfluidic single-cell gene expression analysis, including digital-PCR, that allow absolute quantitation of mRNA's in a single cell. To further improve our capabilities in systems and cell biology, we will develop new microfluidic tools for investigating cell-cell communication, manipulation and sorting of cells, delivering reagents and genes, and in-vivo detection and quantitating of proteins. </p>
      </div>

      <div class = "row-fluid" style="background-color: lightgrey">
      <div class="span12"></div>
      </div>

      <div class = "row-fluid" style="background-color: lightgrey">
      <div class="span3">
        <img src="lab_photos/06_Illumina.jpg" class = "img-polaroid">
      </div>

      <div class="span3">
        <h3 class="lead" style="font-weight: bold">Illumina</h3>
        <p>The Illumina sequencing machine is a machine from the Single Cell Facility.</p>
      </div>

      <div class="span3">
        <img src="lab_photos/07_DeepSequencing.jpg" class = "img-polaroid">
      </div>

      <div class="span3">
        <h3 class="lead" style="font-weight: bold">Deep Sequencing</h3>
        <p>The Illumina deep sequencing machine is a machine from the Single Cell Facility.</p>
      </div>
    <div class = "row-fluid" style="background-color: lightgrey">
      <div class="span12"></div>
    </div>
    
    </div>
    </div>
  </div>

  <div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
  </div>

    <div class = "row-fluid" style="background-color: lightgrey">
    <div class = "well-large">
      <h3 class="lead">Optofluidics</h3>

      <div class = "row-fluid" style="background-color: lightgrey">
        <p class="span12">Optics is a powerful tool for characterizing and manipulating biomolecules, cells and tissue. We previously developed methods and technologies based on nonlinear optics and dynamic holography and used them for optical communication and imaging applications. We are combining such optical techniques with microfluidics to realize the full potential of lab-on-a-chip concept in biology and medicine. Technologies we will develop include optofluidic biosensors, integrated hand-held microscopes, new high-throughput microscopy techniques, and photonic/plasmonic systems for imaging and manipulation of cells (sorting, culturing, delivery of drugs or genes). We will also use dynamic holography in photorefractive polymers for imaging of tissue and cells. Photorefractive polymers record dynamic holograms and reconstruct them in real-time, allowing imaging through highly scattering media (i.e. tissue), and three-dimensional imaging and displays. </p>
      </div>
    </div>
  </div>
</div>
</body>