<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
thead {color:#222; font-size: 30px}
tbody {color: #222;}

h1{color: #222; font-size: 50px; font-weight: bold; letter-spacing: +5px; text-align:center;}
h4{color: #222; font-size: 15px; font-weight: bold; letter-spacing: +5px; text-align:center;}


th{border-top: 0px; border-bottom: 5px solid #161C40; background-image:url('billie_holiday.png'); letter-spacing: +3px}
td{background-color: lightgrey; letter-spacing: +1px}

tr{border-bottom: 2px solid #222; background-image:url('billie_holiday.png')}

td:hover {background-color: #E8DDCB;}
a {color:#161C40; font-weight: bold}
td:hover a{color:#161C40;}
a.dropdown-toggle { outline: none}
.dropdown-backdrop {position: static;}
.dropdown-menu > li > a:hover {
      color:#E8DDCB;
      background:#031634;}
#footer{
    position:absolute;
    left:0;
    right:0;
    height:300px;
    background:#eeeeee; border-top: 1px solid lightgrey; padding-top: 80px; padding-bottom: 100px}
body{padding-top: 70px}
</style>

</head>

<body>
  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
        <a class="brand" href="/"><strong>Tay Group</strong></a>
        <div class="nav-collapse">
              <ul class="nav">
                <li class="divider-vertical"></li>
                <li class="dropdown active">
                    <a href="/research" class="dropdown-toggle" data-toggle="dropdown">Research<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="/research"><strong>Reserach Overview</strong></a></li>
                      <li><a href="/technology"><strong>Technologies and Capabilities</strong></a></li>
                      <li><a href="/model"><strong>NF-&#954B Single-Cell Data and Model</strong></a></li>
                    </ul>
                </li>
                <li><a href="/news"><strong>News</strong></a></li>
                <li><a href="/publications"><strong>Publications</strong></a></li>
                <li><a href="/people"><strong>People</strong></a></li>
                <li><a href="/opportunities"><strong>Opportunities</strong></a></li>
                <li><a href="/contact"><strong>Contact</strong></a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>

<div class = "row-fluid hidden-phone" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="row-fluid">
  <div class="well-small" style="text-align: center; background-color: #021537">
    <h1 class="hidden-phone" style="color:#E8DDCB">Core Technologies<br>and Capabilities</h1>
  </div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
    <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: lightgrey">
    <div class = "well-large">
      <h3 class="lead">Microfluidic Cell Culture and Live Cell Imaging</h3>
      <p>We have set up a fully automated high-throughput <%= link_to 'Microfluidic Cell Culture System', 'http://pubs.acs.org/doi/abs/10.1021/ac071311w' -%> for live cell imaging and single-cell analysis of adherent cells (mammalian, primary or cell lines). The system cultures cells in 96 independently programmable culture chambers, each with a volume of 35 nanoliters. 16 different media and reagents (i.e. signaling molecules) are connected through external vials and tubing, and can be directed into any given chamber in any given time. The system is enclosed in an environmental chamber and attached to a Leica DMI 6000B fluorescence microscope, allowing us to culture cells for weeks. Various tasks such as surface treatments, cell loading, cell counting, cell feeding and stimulation with different ligands, and time-lapse imaging in phase or fluorescence modes are automated. This highly accurate, high throughput live cell imaging system was previously used to investigate NF-kappaB signaling dynamics at the single-cell level (Tay, Nature 2010), which is an ongoing research direction in our Lab. Using fluorescent proteins and custom cell-tracking software, we are able to monitor transcription factor activity in thousands of live cells cultured under up to 96 distinct conditions (ligands, concentrations, time courses, etc), using a single microfluidic chip. The main advantages of this system over other cell culture techniques are:
      <ol>
        <li>Fully automated reagent and media exchange (no manual pipetting!)</li>
        <br>
        <li>Long-term automated live cell imaging and single-cell tracking/analysis</li>
        <br>
        <li>Culture in complex conditions (mixtures of various ligands, ligand time courses such as increasing/decreasing concentrations, short pulses, pulse trains, and switching on/off of the stimulation)</li>
        <br>
        <li>High-throughput and minimal manual labor</li>
        <br>
        <li>Culture in near identical external conditions (CO2, temperature, humidity, volume, cell density) leads to superior reproducibility</li>
        <br>
        <li>Precision, accuracy (nanoliters vs. microliters) and low reagent use.
		In addition, we have two more live cell imaging systems in our lab based on regular wide field microscopes with fluorescence capabilities (Nikon, Olympus), where we can test microfluidic chips for mammalian or other culture applications.</li>
      </ol>
      <br>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: lightgrey">
    <div class = "well-large">
      <h3 class="lead">Microfluidic Gradients</h3>
      <p>We developed a new microfluidic chip that creates and maintains stable, diffusion based spatial gradients of signaling molecules such as morphogens or chemokines. We are using this technology to investigate spatial patterning of 2D and 3D tissue and cells. This system is especially suited for studies of cell migration and development.</p>
      <br>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: lightgrey">
    <div class = "well-large">
      <h3 class="lead">High-throughput qPCR</h3>
      <p>We have daily access to the Fluidigm Biomark system at the D-BSSE genomics facility. This system can perform -in a single microfluidic chip- 10,000 RT-q-PCR reactions with only ~300 pipetting steps (96 samples X 96genes). The system uses nanoliter reaction chambers, that have the advantages of 1) Significantly lowering the reagent use and cost, 2) Performing qPCR with up to 96 genes on single, isolated cells. The system is fully compatible with established PCR reagents and protocols (TaqMan, Evagreen). We recently used this system to generate the gene expression data at <%= link_to 'Tay, Nature 2010', '/publications/2010_Nature_Tay.pdf' -%>.</p>
      <br>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: lightgrey">
    <div class = "well-large">
      <h3 class="lead">Digital PCR</h3>
      <p>The Fluidigm Biomark system is also used for digital-PCR which leads to absolute quantitation of mRNA's in a given sample, either from multiple cells or single cells. mRNA molecules in the sample are distributed digitally (zero or one molecule) into nanoliter chambers, and PCR is performed on these single molecules. A count of amplified chambers lead to absolute counting of the mRNA's in the sample. This technique has started to find exciting applications in systems and quantitative biology and diagnostics. We recently used this system to generate calibrate the gene expression data at <%= link_to 'Tay, Nature 2010', '/publications/2010_Nature_Tay.pdf' -%>. Our genomics facility also acquired the Bio-Rad QX100 droplet based digital-PCR system, which will significantly improve our throughput and reduce cost.</p>
      <br>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: #lightgrey">
    <div class = "well-large">
    <h3 class="lead">Microfluidic Chip Fabrication</h3>
    <div class = "row-fluid" style="background-color: #lightgrey">
      <p class="span12">We use computer aided design (CAD) and our own chip fabrication facility to develop microfluidic chips. Molds are fabricated using standard photolithography and multi-layer microfabrication at the D-BSSE cleanroom (class 100 and 10,000 areas). In addition, our group has a chip foundry next to the main cleanroom, which we use for daily PDMS work, punching, bonding and testing.</p>
    </div>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: #lightgrey">
    <div class = "well-large">
    <h3 class="lead">Micro/Nanofabrication</h3>

    <div class = "row-fluid" style="background-color: #lightgrey">
      <p class="span12">Class 100 and 10,000 cleanroom space at the D-BSSE with state-of-the-art micro/nanofabrication equipment is at our disposal for microfluidic mold fabrication and other processes. We have industrial grade mask aligners, casting, etching (wet and DRIE), CMOS, deposition, and bonding facilities. We have access to range of electron microscopy and e-beam writing (CINA),  dry and wet AFM microscopy (Muller group).</p>
    </div>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: #lightgrey">
    <div class = "well-large">
    <h3 class="lead">Automated Microscopy, Lab Automation and Robotics</h3>

    <div class = "row" style="background-color: #lightgrey">
      <img src="lab_photos/03_Robot.jpg" class = "col-3">
      <p class="col-9">We use custom software and hardware to automate our microscopes and microfluidic chips to perform tedious pipetting and imaging tasks efficiently. We automate cell loading, cell feeding, stimulation and time-lapse imaging steps to save us time and manpower. We also have access to the pipetting robot and the lab automation facility at the D-BSSE for large scale screens and cloning.</p>
    </div>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: #lightgrey">
    <div class = "well-large">
    <h3 class="lead">Fluorescence/Confocal Microscopy</h3>

    <div class = "row" style="background-color: #lightgrey">
      <img src="lab_photos/01_Confocal.jpg" class = "col-3">
      <p class="col-9">We have automated wide-field fluorescence microscopy capabilities in our lab that is used for live-cell imaging and quantification of cells and proteins. We also have access to the state-of-the-art cell culture grade confocal microscopy systems and the single-cell facility (We are currently integrating microfluidics and automation to these systems)</p>
    </div>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: #lightgrey">
    <div class = "well-large">
    <h3 class="lead">Deep Sequencing/RNA sequencing</h3>

    <div class = "row" style="background-color: #lightgrey">
      <img src="lab_photos/06_Illumina.jpg" class = "col-3">
      <p class="col-9">e have access to deep seequencing/RNA sequencing (Illumina) at the D-BSSE genomics facility. We plan to use RNA-sequencing for large-scale gene expression screens and combine it with the microfluidic capabilities of the Fluidigm Biomark q-PCR, cell sorting and microfluidic cell culture and single-cell analysis.</p>
    </div>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: #lightgrey">
    <div class = "well-large">
    <h3 class="lead">Stochastic/Deterministic Modeling of Signaling Pathway Dynamics</h3>

    <div class = "row-fluid" style="background-color: #lightgrey">
      <p class="span12">We have previously developed stochastic and deterministic models of the NF-kappaB pathway. We will continue to use this modeling strategy and combine it with quantitative, high-througput experimental data to improve the accuracy and scope of our models. Our models, in return, improve our understanding of the underlying biological mechanisms, develop insight and guide our experimental studies. We also collaborate with Tomasz Lipniacki (Polish Academy of Sciences), Dagmar Iber (D-BSSE, ETH Zurich) and other computational groups at D-BSSE.</p>
    </div>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: #lightgrey">
    <div class = "well-large">
    <h3 class="lead">Automated Single Cell Tracking and Data Analysis</h3>

    <div class = "row-fluid" style="background-color: #lightgrey">
      <p class="span12">We use fluorescent nuclear markers and custom software to track cells in real-time as they move in 2D microfluidic surfaces, and extract intensity levels from cytoplasm and nucleus to account for protein activity.</p>
    </div>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

<div class="container-fluid" style="border: 0px; background-color: lightgrey">
  <div class = "row-fluid" style="background-color: #lightgrey">
    <div class = "well-large">
    <h3 class="lead">Cell Sorting (FACS)</h3>

    <div class = "row-fluid" style="background-color: #lightgrey">
      <p class="span12">We have access to the state-of-the-art FACS systems at the D-BSSE single-cell facility</p>
    </div>
  </div>
</div>
</div>

<div class = "row-fluid" style="background-image:url('billie_holiday.png')">
  <div class="span12"></div>
</div>

  <div id = "footer" class="hidden-sm">
    <div class = "container">
      <div class = "row-fluid">
        <a class="span2" href="http://www.bsse.ethz.ch/"><img src="/home/D-BSSE_logo.jpg"></a>
          <p class="span3 offset3"><br><br><br>The Tay Group 2013</p>
          <a class="span2 offset2" href="http://www.ethz.ch/index_EN"><br><br><br><img src="/home/eth_logo.jpg"></a>
      </div>
    </div>
  </div>

  <div class="footer visible-sm" style="text-align: center">
      <p>The Tay Group 2013</p>
  </div>
</div>

<!-- Javascript -->
<script type="text/javascript" src="jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script>
  $(".collapse").collapse()
</script>

<script>
	$('.dropdown-toggle').dropdown()
</script>

<script>
  $('.navbar .dropdown').hover(function() {
    $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
  }, function() {
    $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
  });
</script>

</body>